<div *ngIf="user" class="container">
    <h4>Welcome {{ user.username }}</h4>


    <form #createForm="ngForm" (ngSubmit)="onCreateSubmit(createForm)">

        <input type="text" 
            name="title" 
            required
            ngModel 
            #title="ngModel"
            class="form-control mb-2" 
            placeholder="Movie Title">

        <input type="text" 
            ngModel
            required
            minlength="5"
            #image="ngModel"
            name="image" 
            class="form-control mb-2" 
            placeholder="Movie Image URL">
        <button 
        [disabled]="createForm.invalid || loading"
        type="submit" 
        class="btn btn-primary">Add movie</button>
    </form>

    <div class="alert alert-info" *ngIf="loading">
        <span>Adding the movie...</span>
    </div>

    <section>
        <ul>
            <li *ngFor="let movie of user.favourites">
                <img [src]="movie.image" [alt]="movie.title">
                <span>{{ movie.title }}</span>
            </li>
        </ul>
    </section>


</div>