<div class="container">
    <h1>Get started</h1>
    <form #startForm="ngForm" (ngSubmit)="onStartSubmit(startForm)" class="mb-3">
        <fieldset class="mb-3">
            <label for="username">Username</label>
            <input 
                id="username" 
                name="username"
                required
                minlength="3"
                ngModel
                #username="ngModel"
                type="text"
                class="form-control" 
                placeholder="What's your username?">
        </fieldset>

        <div *ngIf="username.errors && (username.dirty || username.touched)" class="alert alert-danger">
            <span *ngIf="username.errors['required']">This field is required</span>
            <span *ngIf="username.errors['minlength']">This username is too short</span>
        </div>

        <div class="d-grid gap-2">
            <button 
                [disabled]="startForm.invalid"
                class="btn btn-primary" 
                type="submit">Start</button>

            <button 
                [disabled]="startForm.invalid || loading"
                class="btn btn-warning block" 
                (click)="onRegisterClick(startForm)"
                >Register</button>
        </div>
    </form>

    <div class="alert alert-info" *ngIf="loading">
        <span>Getting ready...</span>
    </div>

    <div class="alert alert-danger" *ngIf="error !== ''">
        <span>{{ error }}</span>
    </div>
</div>